body {
    background-color: rgba(0,183,255, 1);
    background-image: url('../public/images/memories.png'); /* Correct path from public folder */
    background-repeat: no-repeat;
    background-size: cover;
}
